---
import {
  Header,
  Footer,
  Frame
} from '@okmtyuta/packages.components.astro.yuta.app'
import './reset.css'

interface Props {
  title?: string
  description?: string
  slug?: string
}

const { title = 'Note', description = '', slug = '' } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
      integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww"
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={`${import.meta.env.API_ROOT}/images/${slug}`}
    />
    <meta property="og:url" content={`${import.meta.env.API_ROOT}/images`} />
    <meta name="twitter:card" content="summary_large_image" />

    <title>{title} | yuta.app</title>
  </head>
  <body>
    <main>
      <Header />

      <Frame>
        <slot />
      </Frame>

      <Footer />
    </main>
  </body>
</html>
