---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'

const posts = await getCollection('posts')
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Posts</h1>
    <ul>
      {
        posts.map((post) => {
          const thumbnail = post.data.thumbnail
            ? `/images/posts/${post.slug}/${post.data.thumbnail}`
            : '/images/hanyou.jpg'

          return (
            <li>
              <a href={`posts/${post.slug}`}>{post.data.title}</a>
              <img src={thumbnail} alt="A bird." />
            </li>
          )
        })
      }
    </ul>
  </main>
</Layout>

<style></style>
